# Editor directories and files
.idea
out

*.iml
./META-INF/
.classpath
.project
.settings/
Integrador_2/pom.xml
Integrador_3/pom.xml
# Archivos y directorios generados por Maven
target/
/bin/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales de otros editores
*.swp
*.swo
*~